@page "/orders"

@using Driver.Services.order
@inject AbstractOrderService OrderService
@inject NavigationManager NavigationManager


<div style="padding: 50px;">
    <h1>Orders</h1>
    
    @foreach (var order in _orders)
    {
        <div style="padding: 16px 20px;">
            <p>Order: @order.Id</p>
            <ul>
                <li>CustomerId: @order.CustomerId</li>
                <li>StartingAddress: @order.LocationPoints.StartingAddress</li>
                <li>StartingLat: @order.LocationPoints.StartingLat</li>
                <li>StartingLng: @order.LocationPoints.StartingLng</li>
                <li>DestinationAddress: @order.LocationPoints.DestinationAddress</li>
                <li>DestinationLat: @order.LocationPoints.DestinationLat</li>
                <li>DestinationLng: @order.LocationPoints.DestinationLng</li>
                <li>NeededSeats: @order.NeededSeats</li>
                <li>TypeOfCar: @order.TypeOfCar</li>
                <li>Created on: @DateTimeOffset.FromUnixTimeSeconds(order.CreatedOn)</li>
            </ul>
            <br>
            <button class="button" @onclick="@(e => TakeOrder(order))">Take order</button>
            <hr/>
        </div>
    }
</div>

@code {
    private IList<Order> _orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        _orders = OrderService.GetAllOrders();
        OrderService.OrdersUpdate += OnNotify;
        await base.OnInitializedAsync();
    }

    private async Task TakeOrder(Order order)
    {
        _orders.Remove(order);
        await OrderService.TakeOrder(order);
        await OrderService.UpdMyActiveOrder();
        NavigationManager.NavigateTo($"/active-order");
    }
    
    private async void OnNotify(IList<Order> orders)
    {
        Console.WriteLine("CounterPage -> OnNotify");
        _orders = orders;
        
        await InvokeAsync(StateHasChanged);
    }
}